@page
@model AuthenticationAuthorizationDeepDive.Pages.HRManagerModel
@{
}
@{
    ViewData["Title"] = "HR Manager Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HR Manager Page</h1>

</div>